{% extends 'general/sidebar.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block nextto_sidebar %}
    <div class="col-md-8 col-sm-6">
    <h2>{{user.first_name}}'s active buildings:</h2></br>
     {% for building in buildings %}
        {% if building.manager == user or user.username == 'admin' %}
           <div class="col-lg-4 col-md-6">
               <div class="panel panel-primary">
                   <div class="panel-heading">
                       <div class="row">
                           <div class="col-xs-3">
                               <span style="font-size: 40px" class="glyphicon glyphicon-tasks 5x"></span></br>
                           </div>
                           <div class="col-xs-9 text-right">
                                <div style="font-size: 40px">{{ building.number }}</div>
                                <div>{{ building.name }}</div>
                           </div>
                       </div>
                   </div>
                   <a href="#">
                       <div class="panel-footer">
                           <span class="pull-left">View Details</span>
                           <span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></span>
                           <div class="clearfix"></div>
                       </div>
                   </a>
               </div>
           </div>
        {% endif %}
     {% endfor %}
    </div></div>
{% endblock %}