{% extends 'general/sidebar.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{% block nextto_sidebar %}
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="{% static "js/realtime_graph.js" %}"></script>
    <script src="{% static "js/health.js" %}"></script>

{#    {% for s in sensors %}#}
{#        <h5>{{ s.building_id }} Sensor {{ s.id }}</h5>#}
{#    {% endfor %}#}
    <div id="debugging"></div>
    <div class="col-md-2">
        </br></br>
        <div class="panel text-center" id="health"
             style="background-color: limegreen; color: white; font-size: 35px;">
            Healthy
        </div>
    </div>
    <div class="col-md-10">
        </br></br>
            <div class="collapse in" aria-expanded="false" id="real-time-chart" style="border: 2px solid; height: 400px; min-width: 310px; margin: 0 auto"></div>
        </br></br>
    </div>
{% endblock %}