{% extends "general/sidebar.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block nextto_sidebar %}
</br><hr />
     <div class="row" id="banner">
         <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3" align="left"></br></br>
            <form id="change_pass_form" method="post" action=".">
                {% csrf_token %}
                <div class="form-group">
                    <label for="curr_pass">Current Password</label>
                    <input type="curr_pass" class="form-control" name="curr_pass" placeholder="Enter current password">
                </div>
                <div class="form-group">
                    <label for="new_pass">New Password</label>
                    <input type="new_pass" class="form-control" name="new_pass" placeholder="Enter new password">
                </div>
                <div class="form-group">
                    <label for="confirm_pass">New Password Again*</label>
                    <input type="confirm_pass" class="form-control" name="confirm_pass" placeholder="Confirm new password">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form></br>
         </div>
     </div>
{% endblock %}